{
    "arrowParens": "avoid",
    "printWidth": 120,
    "bracketSpacing": true,
    "cursorOffset": -1,
    "insertPragma": false,
    "tabWidth": 2,
    "singleQuote": false,
    "trailingComma": "all",
    "jsxSingleQuote": false,
    "semi": true
}